/*
COLOR PALETTE 
https://coolors.co/555b6e-89b0ae-bee3db-faf9f9-ffd6ba
Gray 555B6E / CMYK 23, 17, 0, 57
Green 89B0AE/ CMYK 22, 0, 1, 31
Mint Green BEE3DB/ CMYK 16, 0, 4, 11
White FAF9F9/ CMYK 0, 0, 0, 2
Peach Color FFD6BA/ CMYK 0, 16, 27, 0
*/

header {
    background: #555B6E;
    color: #FAF9F9;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
/* GLOBAL STYLES 
-------------------- */

html {
    box-sizing: border-box;
}

*, *:before, *after [
    box-sizing: inherit;
]
body {
    color: #555B6E;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
img {
    width: 300px;
}

h1, h2 {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    margin: 0;
}


.content-wrap {
    width: 950px;
    margin: 0 auto; 
    padding: 60px 0;
}

h1 {
    font-size: 100px;
}

h2 (
    font-size: 50px;
)

a {
    color: #89b0ae;
}

a:hover {
    background: whitesmoke;
    text-decoration: none;
}

a:visited {
    color: gray;
}

a:focus {
    outline: 1px #89B0AE;
}

a:active {
    color: 
}


/* ABOUT/ PROFILE STYLES 
-------------------- */




/* PROJECT STYLES 
-------------------- */
.projects {
    background: #BEE3DB;
}

.projects a {
    color: #FAF9F9;
    background: #555B6E;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
}

.project-item {
    overflow: hidden;
    border-bottom: 1px dotted #FFD6BA;
    padding: 25px 0; 
}
.project-item img {
    float: left;
    margin-right: 30px;
}



/* WORK EXPERIENCE STYLES 
-------------------- */
.work-experience {
    background: #FFD6BA;
}




/* EDUCATION/ CERTIFICATIONS STYLES 
-------------------- */
.education {
    background: #BEE3DB;
}



/* CONTACT INFO STYLES 
-------------------- */


footer {
    background: #555B6E;
    color: #FAF9F9;
}

footer a {
    color: #FAF9F9;
    background: #555B6E;
    text-decoration: none;
}