/*
COLOR PALETTE 
https://coolors.co/555b6e-89b0ae-bee3db-faf9f9-ffd6ba
Gray 555B6E / CMYK 23, 17, 0, 57
Green 89B0AE/ CMYK 22, 0, 1, 31
Mint Green BEE3DB/ CMYK 16, 0, 4, 11
White FAF9F9/ CMYK 0, 0, 0, 2
Peach Color FFD6BA/ CMYK 0, 16, 27, 0
*/

header {
    background: 555B6E;
    color: FAF9F9;
}
/* GLOBAL STYLES 
-------------------- */
body {
    color: #555B6E;
}

img {
    width: 300px;
}

a:hover {
    background: whitesmoke;
}

a:focus {
    outline: 1px #89B0AE;
}

a:visited {
    color: gray;
}


/* ABOUT/ PROFILE STYLES 
-------------------- */




/* PROJECT STYLES 
-------------------- */
.projects {
    background: #BEE3DB;
}




/* WORK EXPERIENCE STYLES 
-------------------- */
.work-experience {
    background: #FFD6BA;
}




/* EDUCATION/ CERTIFICATIONS STYLES 
-------------------- */
.education {
    background: #BEE3DB;
}



/* CONTACT INFO STYLES 
-------------------- */


footer {
    background: 555B6E;
    color: FAF9F9;
}